* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

/* common */

.heading {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border: none;
    min-width: 186px;
    height: 68px;
    padding: 12px 12px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

/* header */

.header {
    /* background-color: var(--primary-color); */
    padding-top: 40px;
    position: sticky;
    top: -40px;
    z-index: 1;
    background-color: #fff;
}

.header .body {
    padding: 12px 0;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.header .navbar {
    margin-left: 215px;
    /* align-self: center; */
}

.header .list {
    display: flex;
    align-items: center;
}

.header .list .item {
    padding: 12px 20px;
}

.header .navbar .list a {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2f3a3b;
}

.header .navbar .item a:hover,
.header .navbar .item.active {
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    margin-left: auto;
    display: flex;
}

.header .action__btn {
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
    padding: 13px 24px;
    text-align: center;
    color: #494949;
}

.header .action__btn:hover {
    padding: 12px 23.5px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    text-shadow: 1px 0 0 currentColor;
    color: #1ebfc1;
}

/* hero */
.hero {
    padding: 38px 0 79px;
}

.hero .row {
    display: flex;
}

.hero .info {
    width: 45%;
    margin-top: 93px;
}

.hero .info .cmt {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #767e7e;
}

.hero .info .title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero .info .desc {
    width: 372px;
    margin-top: 46px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero .info .cta-group {
    margin-top: 52px;
    display: flex;
    gap: 50px;
}

.hero .cta-group .play-btn {
    width: 66px;
    height: 66px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border-radius: 50%;
}

.hero .media-block {
    width: 55%;
    position: relative;
}

.hero .media-block .img-block {
    display: block;
    margin-left: auto;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .media-block .item-1 {
    position: absolute;
    top: 149px;
    left: 25px;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 17px 25px;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero .media-block .item-1::before {
    top: 45px;
    left: 29px;
    position: absolute;
    content: "";
    display: block;
    width: 28px;
    height: 4px;
    background: #fff;
    border-radius: 4px;
}

.hero .media-block .desc {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero .item-2 {
    position: absolute;
    top: 453px;
    left: 0;
    padding: 16px 25px 23px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .chart-group {
    margin-top: 16px;
    position: relative;
}
.hero .chart-group .chart {
    width: 74px;
    height: 6px;
    background: #edf1f5;
    border-radius: 3px;
    display: block;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.hero .chart-group .chart:last-child {
    width: 26px;
    height: 6px;
}

.hero .chart-group .chart:first-child::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 39px;
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero .chart-group .chart:nth-child(2):before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 51px;
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero .chart-group .chart:nth-child(3):before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 33px;
    height: 6px;
    background: #fb9899;
    border-radius: 3px;
}

.hero .item-3 {
    position: absolute;
    bottom: 41px;
    right: 45px;
    width: 207px;
    padding: 17px 35px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero .item-3 .avatar {
    display: flex;
    margin-top: 8px;
}

.hero .item-3 .avt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #1ebfc1;
}

.hero .item-3 .avt:nth-child(4) {
    background-color: #fb9899;
}

.hero .item-3 span {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
}

/* feature */
.feature {
    padding: 130px 0;
}

.feature .body {
    width: 1024px;
}

.feature .feature-top {
    width: 57%;
}

.feature .feature-top .sub-title {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
    margin-bottom: 18px;
}

.feature .feature-top .desc {
    margin-top: 18px;
    width: 590px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

.feature .list {
    display: flex;
    margin-top: 110px;
}

.feature .item {
    width: 33.33%;
}

.feature .item .label {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.feature .item .desc {
    -webkit-line-clamp: 3;
    width: 223px;
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* popular */
.popular .sub-title {
    display: block;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
    margin-bottom: 18px;
}

.popular .sub-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;
}

.popular .sub-heading .desc {
    width: 525px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #767e7e;
}

.popular .sub-heading .cta {
    font-size: 1.4rem;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.popular .list {
    margin-top: 80px;
    display: flex;
    gap: 47px;
}

.popular .item {
    width: 33%;
    position: relative;
}

.popular .item .img-courses {
    object-fit: cover;
    width: 359px;
    height: 393px;
    background: #d0efed;
    opacity: 0.5;
    border-radius: 8px;
}

.popular .item .info-courses {
    position: absolute;
    left: 17px;
    top: 322px;
    width: 325px;
    padding: 18px 25px 29px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.popular .item .title {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.popular .item .price {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.popular .item .price strong {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #0d1111;
}

.popular .item .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.popular .item .info {
    margin-top: 18px;
    display: flex;
}

.popular .item .info p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
    margin-right: 26px;
}

/* stats */
.stats .body {
    margin-top: 390px;
    width: 862px;
    margin-left: auto;
    margin-right: auto;
}

.stats .row {
    display: flex;
    justify-content: space-between;
}

.stats .column .data {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.5;
    text-align: center;
    color: #0d1111;
}

.stats .column .desc {
    margin-top: 11px;
    font-size: 1.8rem;
    line-height: 1.5;
    text-align: center;
    color: #767e7e;
}

/* feedback */
.feedback {
    padding-top: 264px;
}

.feedback .body {
    display: flex;
    position: relative;
}

.feedback .info-block {
    margin: 37px 0;
    width: 36%;
}

.feedback .info-block blockquote {
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.feedback .info-block .author {
    margin-left: 13px;
    position: relative;
    margin-top: 33px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.feedback .info-block .author::before {
    position: absolute;
    content: "";
    left: -13px;
    top: 11px;
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: #070707;
}

.feedback .info-block .author strong {
    font-weight: 600;
    color: #070707;
}

.feedback .info-block .control-group {
    margin-top: 52px;
    display: flex;
    gap: 30px;
}

.feedback .info-block .control-group .btn-control {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ac9bf;
    cursor: pointer;
}

.btn-control:hover {
    opacity: 0.8;
}

.feedback .avt-group {
    width: 64%;
}

.feedback .avt-group .avt {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .body .avt:first-child {
    position: absolute;
    top: 107px;
    left: 764px;
    width: 235px;
    height: 235px;
}

.feedback .body .avt:nth-child(2) {
    position: absolute;
    left: 635px;
    top: 0;
    width: 92px;
    height: 92px;
}

.feedback .body .avt:nth-child(3) {
    position: absolute;
    right: 0;
    top: 19px;
    width: 110px;
    height: 110px;
}

.feedback .body .avt:nth-child(4) {
    position: absolute;
    left: 491px;
    top: 258px;
}

.feedback .body .avt:nth-child(5) {
    position: absolute;
    left: 703px;
    bottom: 0;
}

.feedback .body .avt:last-child {
    position: absolute;
    bottom: 29px;
    right: 32px;
}
